@import url('../node_modules/@fortawesome/fontawesome-free/css/all.min.css');
@import url('../node_modules/react-toastify/dist/ReactToastify.min.css');


.hand{
  cursor: pointer;
}

.btn-group-xs > .btn,
.btn-xs {
    padding : .25rem .4rem;
    font-size : .875rem;
    line-height : .5;
    border-radius: .2rem;
}










/* LOGIN.CSS */
body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}
/* LOGIN.CSS */